<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Crear Cronograma</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Crear Cronograma</h2>
		<div class="row">
			<div class="col-md-5">
				<form action="#" th:action="@{/time/add/}" th:object="${tsscTimecontrol}"
					method="post">
					<div class="row">

						<div class="form-group col-md-6">
							<label for="name" class="col-form-label">Nombre del Cronograma</label>
							<input type="text" th:field="*{name}" class="form-control"
								id="name" placeholder="Nombre"> 
								<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="text-danger"> </span>
						</div>

						<div class="form-group col-md-6">
							<label for="state" class="col-form-label">Estado de Cronograma</label> 
							<input type="text" th:field="*{state}"
								class="form-control" id="state" placeholder="State">
							<span th:if="${#fields.hasErrors('state')}"
								th:errors="*{state}" class="text-danger"> </span>
						</div>

						<div class="form-group col-md-6">
							<label for="timeInterval" class="col-form-label">Intervalo de Tiempo</label> 
							<input type="number" th:field="*{timeInterval}" class="form-control"
								id="timeInterval" placeholder="timeInterval"> 
								<span th:if="${#fields.hasErrors('timeInterval')}"
								th:errors="*{timeInterval}" class="text-danger"> </span>
						</div>
						
						<div class="form-group col-md-6">
							<label for="tsscGame" class="col-form-label">Juego</label> 
							<select
								class="form-control-range" th:field="*{tsscGame}">
								<option th:each="game : ${games}" th:value="${game.id}"
									class="form-control" th:text="${game.name}"
									th:selected="${tsscTimecontrol.tsscGame=game}"></option>

							</select> 
							<span th:if="${#fields.hasErrors('tsscGame')}"
								th:errors="*{tsscGame}" class="text-danger"></span>
						</div>

						<div class="col-md-4 mt-3">
							<input type="hidden" class="btn btn-primary" value="">
						</div>

						<div class="col-md-4 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Agregar">
						</div>

						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancelar">
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>